# ── App Config ─────────────────────────────────────
APP_NAME=
APP_ENV=
APP_PORT=

# ── Database Config ────────────────────────────────
DB_USER=
DB_PASS=
DB_NAME=
DB_HOST=
DB_PORT=

# ── JWT Config ─────────────────────────────────────
JWT_ISSUER=
JWT_SECRET=
JWT_EXPIRED=

# ── Redis Config Optional ──────────────────────────
RDB_ADDR=
RDB_USER=
RDB_PASS=